.header {
    background-color: rgb(255, 204, 153);
    box-shadow: 7px 5px 14px 0px rgb(0, 0, 0); 
    
}

.main {
    background-color: #E6F2FF;
    display: flex;
}

.aside {
    background-color: #B3D9FF;
    flex: 1;
    border: 1px;
    border-color: #CCC;
}

.footer {
    background-color: #99CC99 ;
    box-shadow: 7px 5px 14px 0px rgb(0, 0, 0); 
}

.header .h1 {
    font-weight: bold;
    text-align:center; 
}

.main .section {
    margin: 20px;
    flex: 3;
}

main .aside .p {
    border: 1px;
    border-color: #CCC;
}

.footer .p {
    border: 1px;
    border-color: #CCC;
    
}